
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,700;1,300;1,700&family=Roboto+Mono:wght@500&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Roboto Mono', monospace;
}

:root {
    --dark-primary: #1b1f24;
    --primary: #12bdff;
    --primary-hover: #068abe;
}

header {
  background-color: var(--dark-primary);
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header ul {
    display: flex;
    list-style-type: none;
    
    
}

header ul li {
    margin-right: 20px;
}

header ul li a  {
    color: white;
    text-decoration: none;
    font-weight: 200;
}
header ul li a:hover {
    color: var(--primary);
}
/*Header > button*/

/* header button {
    padding: 10px  20px ;
    font-weight: 100;
    background-color: var(--dark-primary);
    border: 1px solid var(--primary);
    color: var(--primary);
    
}

header button:hover {
    cursor: pointer;
    background-color: var(--primary);
    color: white;
} */

/*Logo*/

.logo {
    color: var(--primary);
    font-weight: 600;
    letter-spacing: 2px;
    
}


/*Section Here Page*/

section.hero-section {
    background-color: var(--dark-primary);
    color: white;
    display: flex;
    align-items: center;
    padding: 20px 120px 0 240px;
}

.hero-section__title{
    font-size: 48px;
    font-weight: 900;
}

.hero-section__desc{
    color: azure;
}

.hero-section__title span{
    color: var(--primary);
}

.social-icons{
    margin: 20px 0;
    padding: 5px;
}

.social-icons li {
    margin-right: 15px;
}

ul.social-icons{
    list-style: none;
    display: flex;
}

.social-icons li > a {
    text-decoration: none;
    color: white;
}

.social-icons li > a:hover{
    color: var(--primary);
}

.hero-button button{
    margin-right: 10px;
}

/*buttons*/

.btn {
    padding: 10px 20px;
    border-radius: 1px;
    border: none;
    cursor: pointer;
}
.btn.btn-primary {
    background-color: var(--primary);
    font-weight: 900;
    color: black;
    border-radius: 2px;
}

.btn.btn-primary:hover{
    background-color: var(--primary-hover);
    color: white;
}

.btn-dark-outlined {
    background-color: var(--dark-primary);
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 5px;
    font-weight: 900;
    
}
.btn-dark-outlined:hover {
    background-color: var(--primary-hover);
    color: white;
    cursor: pointer;
}
/* 


header button:hover {
    
    background-color: var(--primary);
    color: white;
} */